.head{
    background-color: aquamarine;
    padding: 10px;
    display:flex;
    align-items: center;
}


.more{
    margin-left: 100px;
    /* margin-bottom: 100px; */
    /* margin-top: 20px; */
}

.l{
    display: flex;

}

.add{
    float: left;
    /* width: 25%; */
    /* margin-top: 6px; */
  }

.pm{
    border-style :solid ;
    border-color: rgb(0, 0, 0);
    height: 700px;
    /* justify-content: center;
    align-items: center; */
    padding: 10px;
    width: 98%;
}

form{
    padding: 1px;
}

.footer{
    background-color: rgb(189, 189, 189);
    text-align:center;
    margin-bottom: 10px;
    margin-top: 160px;
}

input[type=submit], input[type=reset]{
    background-color:aquamarine;
    padding: 8px 24px;
    border: none;
    margin: 4px 2px;
    width: 100px;
    height: 30px;
}

label{
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}
.left{
    width: 45%;
    float: left;
}
.right{
    margin-left: 55%;
}